// Example of a CSS Grid layout
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  #about,
  #experience,
  #projects,
  #certifications-gallery {
    grid-column: span 1;
  }
  
  #about {
    grid-row: span 2;
  }
  
  #experience,
  #projects {
    grid-row: span 1;
  }
  